:root {
  --gradient: linear-gradient(
    45deg,
    #222222,
    #222222,
    #003c71,
    #222222,
    #222222,
    #003c71
  );
}

.gradient-animation {
  background-size: 1000%;
  background-image: var(--gradient);
  animation: bg-animation 40s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
