/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* DONE: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* DONE: Delete any stylesheets that you do not want to use. */

@import url("make-something-fly.css");
/* @import url("animated-gradient.css"); */
/* @import url("text-stroke.css"); */
/* @import url("stroke-shadow.css"); */
/* @import url("experiments.css"); */
/* @import url("style-guide.css"); */
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("assets/branding-images/jerry-kambashi-cursor.png"), auto !important;
  /* DONE: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* DONE: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Urbanist", sans-serif;
  --heading-typeface: "Urbanist", sans-serif;
  --project-title-typeface: "Urbanist", sans-serif;
  --background-color: #fff;
  --background-color-footer: #fff;
  --alt-background-color: #fafafa;
  --h1-color: #222;
  --h2-color: #222;
  --h3-color: #222;
  --h4-color: #222222;
  --h5-color: #222222;
  --h6-color: #222222;
  --primary-text-color: #222;
  --accent-color: #fff;
  --overlay-color: #003c71;
  --overlay-title-color: #ffffff;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #222;
  --hyperlink-alternate-color: orangered;
  --hover-color: #ffd900;
  --visited-color: #222;
  --project-title-color: #222;
  --project-sidebar-background-color: transparent;
  --project-sidebar-text-color: #222;
  --text-selection-background-color: #003c71;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--hover-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2.5rem;
  font-family: var(--heading-typeface);
  font-weight: 300;
  color: var(--h1-color);
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.325rem;
  font-family: var(--heading-typeface);
  font-weight: 300;
  color: var(--h2-color);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  color: var(--h4-color);
  line-height: 130%;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  color: var(--h6-color);
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

.bold {
  font-weight: 600;
}

em {
  font-style: italic;
}

.copyright {
  font-size: 0.8rem;
  color: #888;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
}

.overlay-title {
  text-align: center;
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
  transition: 0.2s;
}

.social-item::before {
  content: ">>";
  color: #ffd900;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: #ffd900;
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--accent-color);
  /* color: transparent;*/
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: #ffd900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffd900;
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-subhead {
  grid-column: 4/5;
  grid-row: 2;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  background: var(--accent-color);
  /* var(--accent-color) */
}
.holding-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-end;
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.logo {
  width: 8rem;
  fill: #222;
  transition: 0.2s;
  /* DONE: Adjust the width of the logo on mobile devices here. */
}

/* TODO: Adjust the width of the logo on large devices here. */

.logo:hover,
.logo:active {
  fill: var(--hover-color);
  /* TODO: Adjust the width of the logo on large devices here. */
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 5rem 1.25rem;
  text-align: center;
}

.line-break {
  display: none;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
  margin-bottom: 2rem;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you'
      re using auto-fit,
    the content will stretch to fill the entire row width. Specify a minimum
      width for the columns,
    using the minmax() function. The 1fr is what tells the browser to distribute
      the space between the columns so that each column equally gets one
      fraction of that space. */
}

.work-page-grid-item {
  display: flex;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid #222;
  border-radius: 0.875rem;
  padding: 1.25rem;
  /* Required to contain overlay size */
}

.work-page-project-icon {
  width: 20%;
  height: auto;
  align-self: flex-end;
}

.work-page-project-thumbnail {
  width: 20%;
}

.work-page-project-overlay-image {
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* padding: 1em;
  background-color: var(--overlay-color); */
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 1;
  /* previously .9 opacity */
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about-bio {
  margin-bottom: 4rem;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
}

.footer-icon {
  color: var(--primary-text-color);
  font-size: 2.5rem;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 2rem;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 1rem;
  color: var(--project-sidebar-text-color);
  background: var(--project-sidebar-background-color);
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2rem;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

.error-logo {
  width: 18rem;
  transition: 0.2s;
  fill: #222;
  /* TODO: Adjust the width of the logo on large devices here. */
}

.error-logo:hover {
  fill: var(--hover-color);
}

/* TODO: Adjust the width of the logo on large devices here. */

.error-link {
  line-height: 1.3;
}

.error-link::before {
  content: ">>";
  color: #ffd900;
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███████ ██   ██ ███████ ████████  ██████ ██   ██ ██████   ██████   ██████  ██   ██ 
██      ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ █████   █████      ██    ██      ███████ ██████  ██    ██ ██    ██ █████   
     ██ ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ ██   ██ ███████    ██     ██████ ██   ██ ██████   ██████   ██████  ██   ██ 

*/

.sketchbook-page {
  display: grid;
  place-items: center;
}

.sketchbook-page-inner-container {
  text-align: center;
}

.sketchbook-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 500px) {
  .line-break {
    display: block;
  }
  /* Hero line break for even smaller devices. */
}

@media (min-width: 768px) {
  .line-break {
    display: block;
  }
  /* TODO: Add styles here for medium devices. */
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  h1 {
    font-size: 3.725rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.625rem;
  }

  h5 {
    font-size: 1.325rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.5;
  }

  .branding-navigation {
    padding: 2rem;
  }

  .hero {
    min-height: 92vh;
  }

  .hero-headline-wrapper {
    gap: 8rem;
    padding: 4rem 8rem;
  }

  .logo {
    width: 18rem;
    transition: 0.2s;
    /* DONE: Adjust the width of the logo on large screens here. */
  }

  .line-break {
    display: block;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
  }

  .work-page-grid-item {
    padding: 2rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .work-page-project-icon {
    width: 20%;
    height: auto;
    align-self: flex-end;
  }

  .holding-page {
    min-height: 100vh;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 2rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    flex: 1;
  }

  .project-description {
    grid-column: 4/6;
    grid-row: 1;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 100%;
    height: 65vh;
    grid-column: 1/3;
    grid-row: 1;
    padding: 0rem;
    /*position: -webkit-sticky;
    position: sticky;*/
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 100%;
    overflow: hidden;
    grid-column: 1/7;
    grid-row: 2/3;
    padding: 0rem;
  }

  .project-image {
    min-height: 70vh;

    /* TODO: Delete min-height if you want to remove space between project images on project pages on large devices. It is used for the demo page only. */
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: space-betwen;
  }

  .about-item-1 {
    width: 100%;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .about-item-2 {
    grid-column: 4/6;
    grid-row: 1;
  }

  .about-bio {
    margin-bottom: 4rem;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* TODO: Add styles here for XX-large devices. */
  h1 {
    font-size: 5rem;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  }
}
